body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 0 20px;
}

p {
  font-size: 14px;
}

#topbar {
  font-family: 'Raleway', sans-serif;
  height: 150px;
  overflow: hidden;
  text-align: center;
  position: relative;
  background: url('/images/view.jpg');
  background-size: 107%;
  background-repeat: no-repeat;
  background-position-y: 57%;
  text-shadow: -2px 2px 2px #292929;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#topbar > video {
  vertical-align: middle;
  margin-top: -200px;
}

.overlay {
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 40px -2px #333 inset;
}

.overlay > h1 {
  font-size: 5em;
  cursor: pointer;
}

.overlay > h1 > a {
  text-decoration: none;
  color: #333;
}

#greeting {
  padding: 30px;
  text-align: left;
}

#greeting p {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  min-height: 55px;
}

#greeting > div:first-child {
  float: left;
}

#greeting > div:nth-child(2) {
  float: right;
  width: 75%;
}

a.button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

div#signin {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
/*
a.button#signin {
  width: 100px;
  position: fixed;
  top: 0;
  right: 40px;
  z-index: 1;
  height: 20px;
  background: rgba(230, 92, 0, 0.7);
  padding: 6px 0;
  border-radius: 0 0 10px 10px;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

a.button#signin:hover, a.button#signin:focus {
  background: rgba(255, 117, 26, 0.7);
}
*/
button#menu-toggle {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.3);
  font-size: 36px;
  color: #333;
  z-index: 10;
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

button#menu-toggle i:nth-child(2) {
  display: none;
}

button#menu-toggle:hover, button#menu-toggle:focus {
  color: #555;
}

#nav {
  margin: 12px auto;
  text-align: center;
}

.navBtnContainer {
  width: 15%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
}

#nav a.button {
  background: linear-gradient(to bottom,#0066ff,#0047b3);
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

#nav a.button:last-child {
  margin-right: 0;
}

#nav a.button span {
  display: block;
  font-size: 12px;
}

#nav a.button i {
  display: block;
  margin-bottom: 27px;
}

#nav .navBtnContainer a.button * {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#main {
  text-align: center;
  clear: both;
}

#main > div:first-child {
  margin-top: 30px;
}

#motto {
  padding: 10px 20px;
  margin-bottom: 10px;
}

#motto > p {
  text-shadow: 0 0 3px #ccc;
  font-size: 24px;
}

footer {
  font-size: 10px;
  margin: 100px 30px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  clear: both;
}

a#close-modal-btn {
  font-size: 48px;
  cursor: pointer;
}

.panel {
  background: #fff;
  box-shadow: 2px 2px 10px #444;
  width: 80%;
  margin: 30px auto;
  padding: 25px 0;
  text-align: center;
}

.panel input {
  font-size: 16px;
  border: none;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

#request-form {
  padding: 25px;
  margin-top: 30px;
}

#request-form input {
  font-family: sans-serif;
  font-size: 14px;
}

#request-form label {
  font-size: 16px;
  margin-bottom: 20px;
}

#request-form #add-info-label {
  display: block;
  margin-top: 20px;
}

#request-form div {
  width: 24%;
  display: inline-block;
}

#request-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background: linear-gradient(to bottom,#0066ff,#0047b3);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#request-submit:hover, #request-submit:focus {
  box-shadow: 0 4px 2px 0 #aaa;
  margin-top: -2px;
}

#photos {
  clear: both;
  margin-top: 25px;
  border-top: 2px solid #c8c8c8;
  padding-top: 20px;
}

#photos img {
  height: 250px;
  display: inline-block;
}

textarea#add-info {
  width: 50%;
  height: 100px;
}

#approve-nav-btn {
  display: none;
}

.locked {
  display: none;
}

#main #videos iframe {
  width: 49%;
  height: 350px;
}

.request {
  font-weight: 900;
}

.request span {
  font-weight: 400;
}

.request {
  text-align: left;
  border: 1px solid #c8c8c8;
  padding: 10px;
  margin-bottom: 20px;
}

.request .request-info {
  float: left;
  max-width: 80%;
}

.req-add-info {
  clear: both;
  margin-top: 10px;
}

.request .button-container {
  margin-top: 1%;
  float: right;
}

.request button {
  float: right;
  clear: right;
  padding: 12px 10px;
  display: block;
  border: none;
  margin-right: 30px;
  background: transparent;
}

.request button:hover, .request button:focus {
  margin-right: 0px;
}

.request button > span {
  display: none;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 0;
}

.request button:hover > span, .request button:focus > span {
  display: inline-block;
}

.request button.approve {
  color: #36c471; 
}

.request button.deny {
  color: #d84843;
}

#authorize-button {
  display: block;
  margin: 30px auto;
}

#save-msg-board {
  display: none;
}

h2#request-result {
  padding: 10px;
}

h2#request-result p {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#ad-form {
  margin-top: 50px;
}

#approve-modal button, #deny-modal button {
  margin-top: 30px;
  width: 100px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#approve-modal span, #deny-modal span {
  font-weight: 900;
}

#approve-modal button#submit-approve:hover, #approve-modal button#submit-approve:focus {
  background: #9be4b9;
}

#deny-modal button#submit-deny:hover, #deny-modal button#submit-deny:focus {
  background: #f2c1c0; 
}

#approve-modal button#cancel-approve:hover, #deny-modal button#cancel-deny:hover {
  background: #ccc;
}

#alert-bar {
  border-radius: 5px;
  text-align: left;
  padding: 12px 10px;
  margin-bottom: 15px;
}

/* large only */
@media only screen and (min-width: 50.001em) {
  #nav .navBtnContainer:hover i, #nav .navBtnContainer:focus i {
    margin-top: -50px;
  }

}

/* small only */
@media only screen and (max-width: 50em) {
  button#menu-toggle {
    display: block;
  }

  a.button#sign-in {
    display: none;
  }

  #topbar {
    background: #fff;
    margin-top: 55px;
  }

  .overlay {
    box-shadow: none;
  }
  
  .overlay > h1 {
    font-size: 2.5em;
  }
  
  #nav {
    position: fixed;
    top: -15px;
    padding-top: 30px;
    left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 100;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    overflow: auto;
  }

  #nav > div:last-child {
    margin-bottom: 20px;
  }
  
  .navBtnContainer {
    display: none;
    width: 100%;
    height: 80px;
  }
  
  .navBtnContainer:hover a.button span, .navBtnContainer.focus a.button span {
    font-weight: bold;
  }
  
  #nav a.button {
    background: rgba(255,255,255,0.3);
    width: 100%;
    color: #333;
  }
  
  #nav a.button i {
    margin-bottom: 15px;
  }
  
  #motto {
    font-size: 16px;
  }

  #greeting {
    text-align: center;
  }

  #greeting > div:first-child, #greeting > div:nth-child(2) {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  #greeting > div:nth-child(2) {
    width: 100%;
  }

  #greeting > div:nth-child(2) > p {
    text-align: left;
  }
  
  #greeting > h2 {
    width: 100%;
  }
  
  #greeting > p {
    width: auto;
  }

  #photos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
  }

  #main #videos iframe {
    width: 100%;
  }

  #request-form div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  textarea#add-info {
    width: 90%;
  }

  footer {
    text-align: center;
  }

  h2#request-result p {
    width: 80%;
  }

  .request .button-container {
    float: none;
    clear: both;
    width: 100%;
    margin-top: 15px;
    display: inline-block;
  }

  .request button {
    margin-right: 0;
    width: 50%;
  }

  .request button.approve {
    float: left;
  }

  .request button.deny {
    overflow: hidden;
  }

  .request button:hover > span, .request button:focus > span {
    display: none;
  }
}
