body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 0 20px;
}

p {
  font-size: 14px;
}

#topbar {
  font-family: 'Raleway', sans-serif;
  height: 150px;
  overflow: hidden;
  text-align: center;
  position: relative;
  background: url('../images/view.jpg');
  background-size: 107%;
  background-repeat: no-repeat;
  background-position-y: 57%;
  text-shadow: 0 2px 2px #292929;
  -webkit-text-stroke: 1px #333;
}

#topbar > video {
  vertical-align: middle;
  margin-top: -200px;
}

.overlay {
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay > h1 {
  font-size: 4em;
}

#nav {
  margin: 12px auto;
  text-align: center;
}

#greeting > h2 {
  color: linear-gradient(to right, #c2f0f0, #84e1e1);
} 

a.button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

a.button#sign-in {
  width: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 20px;
  background: rgba(230, 92, 0, 0.7);
  padding: 6px 0;
  border-radius: 0 0 10px 10px;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

a.button#sign-in:hover, a.button#sign-in:focus {
  background: rgba(255, 117, 26, 0.7);
}

button#menu-toggle {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.3);
  font-size: 36px;
  z-index: 1;
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

button#menu-toggle:hover, button#menu-toggle:focus {
  color: #555;
}

.navBtnContainer {
  width: 15%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

#nav a.button {
  background: linear-gradient(to bottom,#0066ff,#0047b3);
  width: 50px;
  padding: 10px 0;
  border: 2px solid #fff;
  /*
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  */
}

#nav a.button:last-child {
  margin-right: 0;
}

#nav a.button span {
  display: none;
  font-size: 12px;
}

#nav a.button i {
  display: inline;
  font-size: 22px;
}

#nav .navBtnContainer:hover a.button, #nav .navBtnContainer:focus a.button {
  width: 100%;
}

#nav .navBtnContainer:hover span, #nav .navBtnContainer:focus span {
  display: inline;
}

#nav .navBtnContainer:hover i, #nav .navBtnContainer:focus i {
  display: none;
}

#main {
  text-align: center;
  clear: both;
}

#main > div:first-child {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

footer {
  font-size: 10px;
}

/* large only */
@media only screen and (min-width: 50.001em) {
  #nav > a.button:hover, #nav > a.button:focus {
    transition: border-color 0.3s ease;
    -webkit-transition: border-color  0.3s ease;
    -moz-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
  }

  #nav > a.button:hover, #nav > a.button:focus {
    border-color: #ccc;
  }
}

/* small only */
@media only screen and (max-width: 50em) {
  button#menu-toggle {
    display: block;
  }

  a.button#sign-in {
    display: none;
  }

  #topbar {
    background: #fff;
  }
  
  .overlay > h1 {
    font-size: 2.5em;
  }
  
  #nav {
    display: none;
  }

  #nav > a.button {
    width: 100%;
    background: transparent;
    color: #333;
  }
}
